body {
	font-family: Veranda, Arial, sans-serif;
	font-size: 1em;
  height: 100vh;
}

ul {
	line-height: 140%;
  padding-inline-start: 1em;
}

ul ul {
  line-height: 140%;
  padding-inline-start: 1em;
}

ul.ui-menu {
	display: inline-block;
}

li.ui-menu-item {
	white-space: nowrap;
}

a {
	text-decoration: underline;
	text-decoration-color: black;
	cursor: pointer;
}


details {
  cursor: pointer;  
}

#server-example-details {
	display: none;
}
#data-details {
  margin-top: 5px;
}

#records-and-size {
  font-size: 90%;
}

#options-details {
  margin-bottom: 5px;
}

.link {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;  
}

#optionscheckboxes {
  padding-bottom: 5px;
  font-size: 80%;
}

#timing, #xstatus {
	font-size: 90%;
  display: inline;
}

#requests {
  font-size: 80%;
  overflow-x: scroll;
  display: none;
}

#loadinfo {
	overflow: scroll;
}

a:link {
	color: rgb(0,0,0);
}
a:visited {
	color: rgb(0,0,0);
}

button.simple {
	background-color: white;
	color: black;
	border:1px solid black;
	margin-top:5px;
}

textarea.script {
	background-color: #f9f9f9;
}

textarea.data {
	background-color: #f9f9f9;
	width: 100%;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: auto;
	/* add padding to account for vertical scrollbar */
	padding-right: 5px;
	border: 1px solid rgb(0,0,0);
}

pre {
	white-space: pre-wrap;
}

code {
	white-space: pre-wrap;
}

li {right:10px;}
pre.text {
	margin: 10px;	
	background-color: #f9f9f9;
	overflow-y: auto;
	overflow-x: auto;
	/* add padding to account for vertical scrollbar */
	padding-right: 5px;
	//border: 1px solid rgb(0,0,0);	
}

pre.data {
	background-color: #f9f9f9;
	overflow-y: auto;
	overflow-x: auto;
	/* add padding to account for vertical scrollbar */
	padding-right: 5px;
	border: 1px solid rgb(0,0,0);
}

.ui-widget {
	font-family: Veranda, Arial, sans-serif;
	font-size: 1em;
	padding: 0px;
}

.list {
	display: table;
	width: 100%;
	border: 1px solid black;
}

.error {
	border: 2px solid red;
	padding: 0.5em;
}

.ui-menu .ui-menu-item a {
	padding-left: 5px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}

/* https://simurai.com/blog/2011/07/26/webkit-scrollbar */
.ui-autocomplete::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.ui-autocomplete::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.ui-autocomplete {
    max-height: 70vh; /* May need to set with JS */
    overflow-y: scroll;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 1px;
}

.ui-state-highlight a {
  font-weight: bold;
  color: #002e5b !important;
}

.ui-state-highlight {
  font-weight: bold;
  color: #002e5b !important;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-box {
	border-radius: 0px; 
	border: 1px solid black;
	background: #fff;
}

.hljs {
	background-color: white;
}

.hljs-comment, .hljs-quote {
  color: #006400;
}

.dropdown-input {
	width: 100%;
	display: table-cell;
	color: black;
	font-weight: bold;
	text-align: center;
}

.dropdown {
	display: none;
}

#scriptcopy {
	float: left;
	position: absolute;
	opacity: 0.9;
	z-index: 100;
}

#scripttext {
	border: 1px solid black;
}

#output {
	margin-bottom: 1em;
  display: none;
}

#serverinfo {
  display: none;
}

#datasetinfo {
  display: none;
}

#parameterinfo {
  display: none;
}

#footer {
  font-size: 90%;
}

#examplelist {
	margin-left: 1.5em;
	margin-top: -5px;
	width: 12em;
}

#footer {
 margin-left: 15.5em;
}

#infodiv {
 margin-left: 14em;
 margin-top: 0em;
 min-height: 95vh;
 max-width: 1024px;
}


#selections {
	float: left;
	width: 12em;
	margin-right: 14px;
	margin-top: 0em;
	padding-right: 1em;
	border-right: 1px solid black;
}
