body {
	font-family: Veranda, Arial, sans-serif;
	font-size: 1em;
  height: 100vh;
}

ul {
	line-height: 140%;
  padding-inline-start: 1em;
}

ul ul {
  line-height: 140%;
  padding-inline-start: 1em;
}

details > summary {
  cursor: pointer;
}

ul.ui-menu {
	display: inline-block;
}

li.ui-menu-item {
	white-space: nowrap;
}

a, .pseudoLink {
	text-decoration: underline;
	text-decoration-color: black;
	cursor: pointer;
}

	a:link {
		color: rgb(0,0,0);
	}
	a:visited {
		color: rgb(0,0,0);
	}

	a.link {
		text-decoration: underline;
		text-decoration-color: black;
		cursor: pointer;
	}

	a.invalid {
		text-decoration: underline;
		text-decoration-color: red;
	}

code {
	white-space: pre-wrap;
}

li {
	right: 10px;
}

pre {
	white-space: pre-wrap;
}

	pre.text {
		margin: 10px;
		background-color: #f9f9f9;
		overflow-y: auto;
		overflow-x: auto;
		/* add padding to account for vertical scrollbar */
		padding-right: 5px;
	}

	pre.data {
		background-color: #f9f9f9;
		overflow-y: auto;
		overflow-x: auto;
		/* add padding to account for vertical scrollbar */
		padding-right: 5px;
		border: 1px solid rgb(0,0,0);
	}

#options-details {
  margin-bottom: 5px;
}

	#optionscheckboxes {
		padding-bottom: 5px;
		font-size: 80%;
	}

#infodiv {
	margin-left: 14em;
	margin-top: 0em;
	min-height: 95vh;
	max-width: 1024px;
 }

	.requestInfo {
		font-size: 80%;
	}

	.requestTime {
		font-size: 80%;
		font-family: monospace;
	}

	#appError {
		font-size: 80%;
		display: none;
		border: 2px solid red;
		padding: 0.5em;
		margin-bottom: 0.5em;
	}

	#appWarning {
		border: 2px solid black;
		background-color: yellow;
		padding: 0.5em;
		margin-bottom: 0.5em;
		display: none;
	}

 .requestWarning {
		border: 2px solid black;
		background-color: yellow;
		padding: 0.5em;
		margin-bottom: 0.5em;
		display: none;
	}

	.requestError {
		border: 2px solid red;
		padding: 0.5em;
		margin-bottom: 0.5em;
		display: none;
	}

	#all-example-details {
		display: none;
		margin-top: 0.7em;
		margin-bottom: 0.7em;
	}

	#server-example-details {
		display: none;
		margin-top: 0.7em;
		margin-bottom: 0.7em;
	}

	#tests {
		margin-top: 0.7em;
		margin-bottom: 0.7em;
		display: none;
	}

#output {
	margin-bottom: 1em;
  display: none;
}

	#data-details {
		margin-top: 5px;
		display: none;
	}

		textarea.data {
			background-color: #f9f9f9;
			width: 100%;
			height: 1px;
			/* prevent horizontal scrollbar */
			overflow-x: auto;
			/* add padding to account for vertical scrollbar */
			padding-right: 5px;
			border: 1px solid rgb(0,0,0);
		}

		#datatime {
			font-size: 90%;
		}

		#records-and-size {
			font-size: 90%;
		}

	#plot-details {
		margin-top: 5px;
		display: none;
	}

	#script-details {
		margin-top: 5px;
		display: none;
	}

		#scriptcopy {
			float: left;
			position: absolute;
			opacity: 0.9;
			z-index: 100;
		}

		#scripttext {
			border: 1px solid black;
			max-height: 50vh;
			overflow-y: auto;
		}

	#json-details {
		margin-top: 5px;
		display: none;
	}

		#jsontext {
			border: 1px solid black;
			max-height: 50vh;
			overflow-y: auto;
		}

		#jsontext pre {
			margin: 0em;
		}


button.simple {
	background-color: white;
	color: black;
	border:1px solid black;
	margin-top:5px;
}

.ui-widget {
	font-family: Veranda, Arial, sans-serif;
	font-size: 1em;
	padding: 0px;
}

.list {
	display: table;
	width: 100%;
	border: 1px solid black;
}

label.dropdown-checkbox {
	display:inline-block;
	width:100%;
}

span.id {
	font-family: monospace;
}

.ui-menu .ui-menu-item a {
	padding-left: 5px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}

/* https://simurai.com/blog/2011/07/26/webkit-scrollbar */
.ui-autocomplete::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.ui-autocomplete::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.ui-autocomplete {
    max-height: 70vh; /* May need to set with JS */
    overflow-y: scroll;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 1px;
}

.ui-state-highlight a {
  font-weight: bold;
  color: #002e5b !important;
}

.ui-state-highlight {
  font-weight: bold;
  color: #002e5b !important;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-box {
	border-radius: 0px; 
	border: 1px solid black;
	background: #fff;
}

.hljs {
	background-color: white;
}

.hljs-comment, .hljs-quote {
  color: #006400;
}

.dropdown-list {
	padding: 3px;
	display: inline-block;
}

.dropdown-input {
	color: black;
	/* font-weight causes width to increase and input to appear on newline if 
	width is not set */
	width: 82%; 
	font-weight: bold;
	float: right;
	margin: 1px;
	text-align: center;
}

#serverinfo {
  display: none;
}

#datasetinfo {
  display: none;
}

#parameterinfo {
  display: none;
}

#developer-details {
	margin-top: 1em;
	font-size: 70%;
}

#footer {
  font-size: 80%;
	margin-left: 1em;
	background-color: white;
	position: fixed;
	margin: 1em;
	width: 15em;
	bottom: 0;
	left: 0;
	right: 0;
}

#examplelist {
	margin-left: 1.5em;
	margin-top: -5px;
	width: 12em;
}

#selections {
	float: left;
	width: 12em;
	margin-right: 14px;
	margin-top: 0em;
	padding-right: 1em;
	border-right: 1px solid black;
}
